*.pyc
.DS_Store

**/temp/
**/temp*
**/large*/
**/small*/
**/tiny*/
**/out*/
**/data/
**/tmp/
**/pretrain*/
/.project
/.pydevproject

# checkpoint
**/checkpoints/

# For PyCharm users
.idea/

*.pth.tar
*.bin

# For LP/IP files
*.lp
human-co-interact/test.txt

build/*
human-co-interact/web/out/*

logs.temp.log
**/.cache/*
*.cache
.cache*
*cache.db*
**/.diskcache/*
prompt*txt
*.db

*.tmp
*.swp
*.swo
benchmark/QAs/*.json
benchmark/QAs/formated/*
example.json
eval*.json
*/eval_rst/*

ml_runs/*
mlruns/*
results/*


data/*
data_gen/raw_data/*
*.pickle

.vscode/*
wandb/*
results/*
model/*
.github/*
test.txt
Pipfile

draft.md